body, html {
    background-color: #282A2B;
    color: #B8BFC6;
    font-family: sans-serif;
    padding: 20px;
}
a, a:visited, a:active, a:link {
    color: #92A3B5;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
}
h1 {
    font-size: 22px;
}
h2 {
    border-top: 1px solid #B8BFC6;
    font-size: 16px;
    padding-top: 5px;
    margin-top: 15px;
    padding-bottom: 5px;
}
.main-code {
    width: 75%;
    float:left;
    padding-right: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.main-code textarea {
    width: 100%;
    height: 300px;
}
.side-stuff {
    width: 25%;
    float: right;
}
.side-stuff li {
    padding: 8px;
}